body{
    padding: 0 !important;
    margin: 0 !important;
}
.img-carousel{
    transition:all .1s ease !important;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
}
.img-carousel:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 6px 1px white;
}
.contenedor-gral{
    background-color: #514646;
}
.carousel{
    display: flex;
    background-color: #514646;
    justify-content: center;
    align-items: center;
    margin: 1vh auto;
    flex-wrap: wrap;
    width: 74%;
}
/*#514646*/
.titlePhoto{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: rgba(0,0,0,.5);
    cursor: default;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.Header-container{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}
.Login-img{
    height: 7vh;
    width: 7vw;
    display: flex;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.Mynav{
    color: white !important;
    display: flex;
}
.h4-link{
    color: white;
    margin: 1vh 2vw;
}

.h4-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.Hero-container{
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    height: 50%;
    width: 50%;
    color: white;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16%;
    padding-left: 1vw;
    padding-right: 1vw;
}

#Find{
    -webkit-text-stroke: 1.2px black;
}
#titleMytinerary{
    -webkit-text-stroke: 2px black;
}

#heroTitle{
    -webkit-text-stroke: 1.5px black;
}


#basic-navbar-nav{
    align-items: center;
    justify-content: center;
    align-content: center;
}
#basic-nav-dropdown{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.dropdown-item{
    background-color: #343A40;
}
.dropdown-item:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
.dropdown-menu{
    background-color: #343A40;
}
.h3-dropmenu{
    color: white;
}
.h3-dropmenu:hover{

    text-decoration: none;
}

@media (max-width: 547px){
    .carousel{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .img-carousel{
        width: 80% !important;
    }
    .iframe{
        text-align: center;
    }
}
.active{
    color: violet;
}

.hero-hover{
    background-color: rgba(250, 250, 250, .15);
    backdrop-filter: blur(6px);   
}
.hero-hover:hover{
    background-color: rgba(5, 4, 4, 0.20);
    backdrop-filter: blur(5px);   
}
